.nav {
  font-family: Raleway;
  color: #F2EEE5;
  text-transform: uppercase;
  text-align: center;
  box-shadow: -1px 3px 20px -1px rgba(0,0,0,0.4);
}
.nav ul{
    background-color: #0E0E0E;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav li {
  display: inline-block;
  
}

#logo {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  border-top: 1px solid #D3B2A9;
  border-bottom: 1px solid #D3B2A9;
  margin-left: 0px;
  margin-right: 550px;
}

.nav a {
  padding: 14px 16px;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  color: #F2EEE5;
  display: block;
  text-decoration:none;
}
.nav a:hover {
  color: #D3B2A9;
  background-color:black;
  text-decoration:none;
}
/* GERAL */

body
{
  background-color: white;
  font-family: Raleway;
  color:white;
}
h1{
  padding: 0;
  margin-top: 0px;
  font-size: 5.0em;
}
h2{
  font-family: garamond;
  font-size: 25px;
}

/* INÍCIO */
.pageZero{
  background-image:url("images/background.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 700px;
  height: 700px;
  padding-top: 10%;
}
#row{
  float:right;
}
.styleName {
  font-family: 'lato', sans-serif;
  font-style: italic;
  font-size: 7em;
  letter-spacing: 7px;
  line-height: 0.95em;
  font-weight: 100;
  color: #606060;
  text-align: left;
  text-shadow: 1px 1px #2E2E2E;
  padding-top: 10px;
}
.styleText{
  float:right;
  padding-right:100px;
}
.styleTexta{
  padding-top: 50px;
  font-size: 1.75em;
  font-style: italic;
  color: #2E2E2E;
  text-align: left;
  line-height: 1em;
  text-shadow: 1px 1px black;
}
.styleTextb{
  padding-left: 30px;
  font-size: 1.75em;
  font-style: italic;
  color: #2E2E2E;
  text-align: left;
  line-height: 1em;
  text-shadow: 1px 1px black;
}
.styleTextc{
  font-size: 1.75em;
  font-style: italic;
  color: #2E2E2E;
  text-align: left;
  line-height: 1em;
  text-shadow: 1px 1px black;
}



/* SOBRE */
.pageOne{
  background-color:white;
  background-size:cover;
  height: 700px;
  padding-top: 3%;
  color: #2E2E2E;
}
.line {
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    background-color: #2E2E2E;
  }
.section-title {
    font-size: 2.6em;
    font-family: Raleway;
    color: #2E2E2E;
    text-transform: uppercase;
  }
.aboutMe{
  float:left;
  text-align:left;
  color:#2E2E2E;
  width:50%;
  padding: 10px;
}
.aboutPic{
  float:right;
  width:21%;
}
.myPic{
  float:right;
  margin-right: 150px;
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: #A8A8A8;
}

/* PORTFOLIO */
.pageTwo{
  text-align:center;
  background-color:#161616;
  height: 700px;
  padding-top: 4%;
  color:#F2EEE5;
}
.portLine {
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    background-color: #F2EEE5;
  }
.portfolio{
  color:#F2EEE5;
}

/*CAIXAS*/

.column {
	margin: 2px 2px 2px 20px;
	padding: 2px;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 2px 2px 2px 2px;
	padding: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
}
figure:hover {
	bottom: -36px;
}
.imgHover figure img {
  max-width: 300px;
	-webkit-transform: scale(1);
	transform: scale(1);
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgHover figure:hover img {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* CONTATO */
.pageThree{
  text-align:right;
  background-color:white;
  height: 700px;
  padding-top: 4%;
}
.contLine {
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    background-color: #2E2E2E;
  }
.contact{
  color:#2E2E2E;
}
.contact-box{
  text-align:left;
  color:#2E2E2E;
  padding: 7px;
  width:50%;
  border-radius:2px;
  margin-left: auto;
  margin-right: auto;
}
.btnList{
  padding: 45px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  text-align:center;
}
.contactBtn{
  color: #2E2E2E;
  border-color: #2E2E2E;
  border-radius: 15%;
  border: 2px solid;
  font-size: 35px;
  padding-top:1px;
  padding-bottom:1px;
  padding-left:8px;
  padding-right:8px;
  margin:-1px;
}
.contactBtn:hover{
  color: #A8A8A8;
  border-color: #A8A8A8;
}

/*Parallax */

.bgParallax {
    background-attachment: fixed;
}
